{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Inscription</h1>

            {{ form_errors(registrationForm) }}
            <fieldset class="mb-3">
                <legend>Mes informations de connexion</legend>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name, {
                    label: 'Pseudo'
                }) }}
                {{ form_row(registrationForm.email, {
                    label: 'Email'
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
            </fieldset>
            <fieldset>
                <legend>Mes informations personnelles (facultatives)</legend>
                {{ form_row(registrationForm.bio, {
                    label: 'Biographie'
                }) }}
                {{ form_row(registrationForm.dob , {
                    label: 'Date de naissance'
                }) }}
            </fieldset>
            <button type="submit" class="btn btn-primary">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</section>
            {% endblock %}
